/*Abel Mansilla Felipe*/
body{
  background-color: gray;
}

table, td{
  width: 500px;
  height: 50px;
  border-collapse: collapse;
  border: 1px solid silver;
  text-align: center;
  margin: 0px auto;
}
th{
  background-color: silver;
  border-collapse: collapse;
}
td{
  background-color: white;
}
